<!DOCTYPE html>
<html>
  <head>
    <title>Create</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/create" method="POST">
      <input type="text" name="name" placeholder="Enter name" />
      <input type="text" name="type" placeholder="Sensor, Camera, Alarm etc?" />
      <input type="number" name="range" placeholder="Enter range" />
      <input type="number" name="sensitivity" placeholder="Enter sensitivity" />
      <input
        type="text"
        name="connectedCamera"
        placeholder="Enter camera name"
      />
      <input type="text" name="zone" placeholder="Enter zone" />

      <input type="submit" value="Click here to add equipment" />
    </form>
  </body>
</html>
